<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    This version of <b>Splurty</b> was built by <a target="_blank" href="https://github.com/freshcup/">Mike Tracz</a> during enrollment in the Full Stack Web Developer Bootcamp at the University of Toronto. 
  </p>
  <br />
  <p>
    The bootcamp is an intensive 24-week long program dedicated to designing and building web applications. Skills learned consisted of HTML5, CSS3, Bootstrap, Ruby, Ruby on Rails, Postgresql, JavaScript, JQuery, and ReactJS.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'MT.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mike Tracz</h2>
      <br />
      <p>
        Mike is a <b>Full Stack Web Developer</b> based out of Waterloo, Ontario. Services offered include design, development, hosting, audio/video editing, consulting, and even tech support. Prior to beginning his journey into coding, Mike was a professional dancer for over 20 years, and performed on hundreds of stages across the world. 
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />