@import "bootstrap";

.clear {
  clear: both;
}


.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #ce1141;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'chinese_rocksregular';
  padding-top: 30px;
  font-size: 40px;
}

.links {
  padding-top: 26px;
  font-family: 'source_sans_prosemibold', sans-serif;
  font-size: 25px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'source_sans_prosemibold', sans-serif;
  font-weight: bold;
}

header {
  border-top: 9px solid #ce1141;
}

h1 {
  font-family: 'chinese_rocksregular';
  font-size: 60px;
}

h2 {
  font-family: 'chinese_rocksregular';
  font-size: 40px;
}

.next-quote {
  color:#ce1141;
  font-family: 'source_sans_prosemibold', sans-serif;
   font-size:20px;
}

.footer-blurb {
   font-style: italic;
  text-align: right;
   font-family: 'chinese_rocksregular';
  font-size: 40px;
}
}